/* CSS Document */
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd, input, b {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight:normal;	
   }
.warp{
	width:3.21rem;
	margin:0 auto;
}
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

ul, ol {
  list-style-type: none; }

select, input, img {
  vertical-align: middle;
  outline: none; }
i{
  font-style: normal;
}
a {
  text-decoration: none;
  outline: none;
  color: #000; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.clearfix {
  zoom: 1; }

.fl {
  float: left; }

.fr {
  float: right; }
